.box-a {
    background-color: LightGray;
    padding: 30px;
    border: 3px solid black;
    margin-bottom: 20px;
    width: 250px;
    height: 150px;
    box-sizing: border-box;
}
.box-b {
    background-color: orange;
    width: 316px;
    height: 150px;
}